
.circle {
    width: 40px; /* Ancho del círculo */
    height: 40px; /* Alto del círculo */
    border-radius: 50%; /* Hace que el elemento sea redondo */
    /* border: 1px solid #171717; Grosor y color del borde */
    display: inline-block; /* Alineación en línea */
    margin-left: 5px;
}
.img-inicio{
    width: 50%;
}

.logo{
    width: 50px;
    border-radius: 50%; /* Hace que el div sea un círculo */
}
.bg-personalizado {
    background: linear-gradient(to right, #afa3a1, #10424e, #1f9a14, #0ea0c9); /* Gradiente entre dos tonos */
}





